.ad{
    display: flex;
    flex-wrap: wrap;
}


.content{
    position: relative;
    display: block;
    height: auto;
    border: none;
    padding: 0px 20px;
    text-align: left;
    background: #fff;
    padding-bottom: 2em;
}

.text{
    font-size: 18px;
    vertical-align: middle;
    line-height: 25px;
    padding: 10px 15px;
    display: inline-block;
}

.left{
    flex: 1 0 250px ;
}

.right{
    flex: 9 ;
}

.bottom{
    display: flex;
}

.bottom-tb{
    flex: 1;
    border: solid 1px;
    margin: 10px;
}

.left ,.right{
    border: solid 1px;
    margin: 10px;
}

.bottom{
    height: 100%;
}


.info_header{
    text-align: left;
    background-color: #889F8B;
    color: #000;
    margin-bottom: 20px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid;
}


.left_input{
    background: #e5e5e5;
    border: 1px solid;
    width: 70%;
    height: 2em;
}



#save{
    width: auto;
    float: right;
    margin: 12px;
    background: #f0f0f0;
    border-color: #f0f0f0;
    color: #000;
    text-decoration: none;
    text-shadow: none;
}

.sep_line{
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #EFEFEF;
    text-align: center;
    margin: 50px 0px 50px 0 ;


}

.img_box{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.inner-Con{
    padding-bottom: 3em;
}
.ddrop-upload{
    min-height: 120px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    background-image: linear-gradient(45deg,rgba(0,0,0,.05) 25%,transparent 0),linear-gradient(-45deg,rgba(0,0,0,.05) 25%,transparent 0),linear-gradient(45deg,transparent 75%,rgba(0,0,0,.05) 0),linear-gradient(-45deg,transparent 75%,rgba(0,0,0,.05) 0);
    background-size: 24px 24px;
    background-position: 0 0,0 12px,12px -12px,-12px 0;
    border: 1px dashed rgba(136, 136, 136, 0.3);
    padding: 0 0 25px 0;
}



/* AD List */

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #889F8B;
    color: #000;
  }

 /* AD List */
  

